

.coverImage {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
}


.caption {
    font-size: 2rem;
    font-weight: 200;
    margin: 20px;
    color: #000;
	text-align:center;
}


.edEntry {
	height:600px;
	padding:20px;
    border-top: 1px solid #bbb;
}

.edList {
	height:100%;
	display: table;
	table-layout: fixed;
	width: 100%;
	list-style-type: none;
	margin:0;
	padding:0;
}

ul.edList li {
    text-align: center;
    display: table-row;
}

.edTitle {
	text-align:center;
    display: table-cell;
    vertical-align: middle;
	margin-bottom:10px;
}

.edCourse {
	text-align:center;
	font-size:2rem;
	font-style: italic;
    display: table-cell;
    vertical-align: middle;
	margin-bottom:5px;
}

.edLoc {
	text-align:center;
    display: table-cell;
    vertical-align: middle;
	margin-bottom:5px;
	font-size:1.5rem;
}

.edResult {
	text-align:center;
    display: table-cell;
    vertical-align: middle;
	margin-bottom:5px;
	font-size:1.5rem;
}

.edImg {
	height:250px;
	width: 250px;
	margin:20px;
	border: 3px solid #44B1F8;
    display: table-cell;
    vertical-align: middle;
	margin-left:auto;
	margin-right:auto;
	border-radius: 50%;
  	-webkit-box-shadow: 0 3px 10px #5FA3E3; -moz-box-shadow: 0 3px 10px #666;
}

.edButton {
	text-align:center;
    display: table-cell;
    vertical-align: middle;
}