
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
  max-width:1000px;
  margin-left:auto;
  margin-right:auto;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  object-fit: cover;
  overflow: hidden;
  height: 500px;
  
}


/* Featurettes
------------------------- */
.featurette {
  margin-left: 50px; 
  margin-right: 50px; 
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.last-featurette {
  margin-bottom: 40px; 	
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  margin-bottom:20px;
}

.featurette-image {
  	-webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
	border-radius:10px;	
}



