body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a {
	text-decoration: none;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 10px;
  color: #000;
}

h3 {
  font-size: 2rem;
  margin: 20px 0 20px;
  color: #000;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}


footer {
  font-size: 12px;
  padding: 20px 0;
  border-top: 1px solid #ddd;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

.social-icon {
  	width: 32px;
  	height: 32px;
}


.content {
  margin-top: 50px;
}
