
.subtitle {
  font-weight: 400;	
  text-align:center;
}

.skills {
  text-align:center;
  margin-bottom:40px;
}

p {
    text-align:center;
}

/* Featurettes
------------------------- */
.featurette {
  margin-left: 50px; 
  margin-right: 50px; 
}

.featurette-divider {
  margin-bottom: 80px; 
  background-color: #157354;
}


.featurette-heading {
  text-align:center;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  margin-bottom:20px;
}

.featurette-image {
  	-webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
	border-radius:10px;
  	background-color: #E7E8E8;
	max-width:250px;
	max-height:250px;
	padding:20px;	
}

.project-button-container {
	/* Make sure there's a space between the project buttons and the image on small screens */
	margin-bottom:40px;
    text-align:center;
}



