
.jumbotron {
  display: flex;
  align-items: center;
  background-color: #E7E8E8;
  background-size: cover;
  color: #ffffff;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin-bottom:0px;
  padding:20px;  
}

.jumbotron h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 10px;
  color: #000;
}

.jumbotron h3 {
  font-size: 2rem;
  margin: 20px 0 20px;
  color: #000;
}

img.profile {
	height:200px;
	width: 200px;
}


.spacer {
	margin-top:40px;
	margin-bottom:40px;
}

img.summary-image {
	height:200px;
	width: 200px;
  	-webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
	border-radius:10px;
  	background-color: #E7E8E8;	
}

/* Featurettes
------------------------- */
.featurette {
  margin-left: 50px; 
  margin-right: 50px;  
  padding-top:40px;
  padding-bottom:40px;
  border-bottom: 1px solid #bbb;
}

@media (max-width: 750px) {
  .featurette {
    margin-right: 5vw;
    margin-left: 5vw;
  }
}

@media (max-width: 500px) {
  .featurette {
    margin-right: 2vw;
    margin-left: 2vw;
  }
}

/* Remove the bottom border on the last feature */
.last-featurette {
  border-bottom: 0px;	
}


/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  margin-bottom:20px;
}

.featurette-image {
  	-webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
	border-radius:10px;
  	background-color: #E7E8E8;
	
}


/* Correct the width/margins for featurettes with multiple rows */
.multifeature {
	width:100%;
	margin-left:auto;
	margin-right:auto;
}


div.caption {
  margin:0px;
  padding:0px;
  margin-left: 50px; 
  margin-right: 50px; 
}

p.caption {
	margin-top:20px;
  text-align:center;
  font-size: 2rem;
  font-weight:500;
}

.pre-xy-scrollable {
    overflow: auto;
    -ms-word-wrap: normal;
    word-wrap: normal;
    overflow-wrap: normal;
    white-space: pre;
    max-height: 400px;
  -webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
}



/* Carousel base class */
.carousel {
  height: 500px;
  width:100%
  margin-top: 50px;
  margin-left:auto;
  margin-right:auto;
  padding:0px;
  -webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
  	background-color: #E7E8E8;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  padding:0px;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  object-fit: contain;
  overflow: hidden;
  height: 500px;
  
}



